body {
    background: rgb(255, 187, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #peakPosition{
    width: 200px
  }


  #song{
    width: 200px;
    
  }